# Laboratorio 1 Python

## <a id='1.0'> 1.0 Types of variables  </a>

In [ ]:
#En el espacio de cuadro: no dentro del código

# Crtl + Enter  correr
# B             añadir linea de codigo
# DD            borrar linea de codigo
# Z             recuperar

# (seleccionar):
# Crtl +  /                pasar de código a comentario (vicev)
# Shift + M                unir celdas de codigo
# Crtl  + Shift + -        dividir celdas de codigo
#  Shift + tecla ↑↓        seleccionar varias líneas de codigo

In [14]:
a1 = 3.141
print(a1, type(a1))

c = int(a1)  #entero de numero decimal
print(c, type(c))

d=float(c)  #para que tenga decimal de nuevo
print(d, type(d))

c1 = 'My first python code'  
print(c1, type(c1)) # providing varaibles's type

3.141 <class 'float'>
3 <class 'int'>
3.0 <class 'float'>
My first python code <class 'str'>

In [15]:
# 1. Incluir espacios entre x1 y x2 string

c1 = "First python code"
c2 = "at R y python Class"

    #1. parrafos diferentes      print(x1 ,\n, x2) 

print(c1,'\n',c2)  

    #2. cotinuidad en línea      print(x1, " : ", x2)

print(c1 + " : " + c2)

First python code
 at R y python Class
First python code : at R y python Class

In [19]:
    # 3.  f-string
c1 = "First python code"
        # crea un string llamando a un string
        # f'{es una variable string c1} ==> no hay coma
print(f'{c1} : semester 2022-1')

c1 = "First python code"
dato = 2022

print(f'{c1} : semester {dato}-1')  #print(f' jsd {} nakjds ')
print('{} : semester {}-1'.format(c1,dato))   #en format(se incluye x1,x2)

First python code : semester 2022-1
First python code : semester 2022-1
First python code : semester 2022-1

In [23]:
#2. Sustraer de string

c1 = "First string"

print('Fisrt letter is :',c1[0])  #letra

print('Fisrt word is :',c1[0:5])   #frase

c1[0:7]

Fisrt letter is : F
Fisrt word is : First

'First s'

## <a id='1.2'> 1.2 Boolean  (true=1, false=0)  </a> 

It’s used to represent the truth value of an expression.

In [24]:
#3. NOTA: EL PREDETERMINADO ES LA PALABRA T/F , CON int() SE CONVIERTE A NÚMERO
"a" == "a"

True

In [27]:
1 > 1

False

In [41]:
z1 = (1==1)  # z1 = (true) = true
z1

True

In [43]:
int(z1)  # true is 1 in numerical system

1

In [25]:
z2 = (10 > 20) 
print(z2)
int(z2) # false is 0 in numerical system

False

0

## <a id='1.3'> 1.3 Tuple ()  </a> 

It is an ordered and immutable Python object, ES INMUTABLE

In [26]:
T1 = (1,4,8,10,20,15,4,5,3,8)
print(T1,type(T1))

(1, 4, 8, 10, 20, 15, 4, 5, 3, 8) <class 'tuple'>

In [17]:
#4. Operaciones aritméticas (tambien se hacen en lista)

print(' Suma:', sum(T1),"\n", "Minimo:", min(T1), '\n', "Maximo:", max(T1))

 Suma: 78
 Minimo: 1
 Maximo: 20

In [27]:
#5. numero de elementos: len()

len(T1) # lenght of tuple

10

### 6. Indexing Tuple: se extrae desde el 0

In [39]:
T1 = (1,4,1,10,20,15,4,5,3,8)

   #a. extraer grupo de elementos
T1[0:5]
print(T1[0:5])
    
    #b. extraer ultimo elemento
T1[-1]
print(T1[-1])
 
    #c. T1.index(x1) posicion donde se encuetra numero x1
T1.index(8)

(1, 4, 1, 10, 20)
8

9

In [22]:
# No possible to change porque es una Tupla
T1[0] = 4

TypeError: 'tuple' object does not support item assignment

## <a id='1.4'> 1.4 List  </a> 

#### It is an ordered and mutable Python container. Puede ser ALTERADA

In [40]:
L1 = []
print(L1, type(L1))

[] <class 'list'>

In [42]:
dis1 = ["ATE", 'BARRANCO','BREÑA', 'CALLAO', 'CARABAYLLO']
dis1

['ATE', 'BARRANCO', 'BREÑA', 'CALLAO', 'CARABAYLLO']

In [45]:
dis2 = dis1+['CHACLACAYO','CHORRILLOS','CIENEGUILLA'
        ,'COMAS','EL_AGUSTINO','INDEPENDENCIA']
dis2

['ATE',
 'BARRANCO',
 'BREÑA',
 'CALLAO',
 'CARABAYLLO',
 'CHACLACAYO',
 'CHORRILLOS',
 'CIENEGUILLA',
 'COMAS',
 'EL_AGUSTINO',
 'INDEPENDENCIA']

In [46]:
    #a. Numero de elementos de lista
len(dis2)

11

In [50]:
    #b. Idenxing: Que aparezca elemento en posicion 1

dis2[1]
print(dis2[1])
dis2[2:5]   # (5-1=4)

dis2[-5:-1]  #ultima 1 hasta 5 menos

BARRANCO

['BREÑA', 'CALLAO', 'CARABAYLLO']

In [47]:
    #c. ALTERAR elementos: Transponer
        # lista[posicion a alterar]= con lo que se reemplaza
   
dis2[0] = "CALLAO"
print(dis2)

['CALLAO', 'BARRANCO', 'BREÑA', 'CALLAO', 'CARABAYLLO', 'CHACLACAYO', 'CHORRILLOS', 'CIENEGUILLA', 'COMAS', 'EL_AGUSTINO', 'INDEPENDENCIA']

In [51]:
   #c. ALTERAR elementos: Ordenar

num = [13,5,5,8,9,10,5,8,13,1,20]
num.sort()
print(num)

[1, 5, 5, 5, 8, 8, 9, 10, 13, 13, 20]

In [53]:
   #c. ALTERAR elementos: Agregar  lista.append(valores a unir)

num.append(102)    # agregar numero
print(num)


num2 = [10,20,30]  # agregar lista
num.extend(num2)
print(num)

[1, 5, 5, 5, 8, 8, 9, 10, 13, 13, 20, 102, 102]
[1, 5, 5, 5, 8, 8, 9, 10, 13, 13, 20, 102, 102, 10, 20, 30]

In [54]:
    #d. Operaciones: (tambien se hacen en lista)
print("Suma:", sum(num),'\n', "Minimo:", min(num), '\n', "Maximo:", max(num))

Suma: 361
 Minimo: 1
 Maximo: 102

## <a id='1.5'> 1.5 Diccionario  </a> 

Hay un nombre y valor         { keys: valor }

In [56]:
#  x = { 'Nombre etiqueta' : [x1 x2 x3], numero, string}

Postal_code = {'Majes': 40520, 'Mollendo': 40701, 'Islay': 40704, 'Cotahuasi': 40801, 'Alca': 40802 }
print(Postal_code, type(Postal_code))

{'Majes': 40520, 'Mollendo': 40701, 'Islay': 40704, 'Cotahuasi': 40801, 'Alca': 40802} /n <class 'dict'>

In [57]:
    #a. Solo mostrar llaves
Postal_code.keys()

dict_keys(['Majes', 'Mollendo', 'Islay', 'Cotahuasi', 'Alca'])

In [59]:
    #b. Obtener informacion sobre una llave 
#b.1    
Postal_code['Alca']

#b.2
Postal_code.get('Alca')

40802

In [60]:
    #c. Eliminar llave + elemento 

Postal_code.pop('Islay')
Postal_code

{'Majes': 40520, 'Mollendo': 40701, 'Cotahuasi': 40801, 'Alca': 40802}

In [61]:
    #d. Añadir llave + elemento
#d.1
Postal_code.update( { "CHARCANA" :  40803 } )

#d.2
#diccioanrio dentro de otro diccionario
Postal_code.update( {"LOMAS": {"UBIGEO": 40311, "Poverty Rate" : "18.2%", "Population" : "20 mil"}})

In [62]:
Postal_code

{'Majes': 40520,
 'Mollendo': 40701,
 'Cotahuasi': 40801,
 'Alca': 40802,
 'CHARCANA': 40803,
 'LOMAS': {'UBIGEO': 40311, 'Poverty Rate': '18.2%', 'Population': '20 mil'}}

In [63]:
     #b. Obtener informacion sobre una llave 
#b.3
Postal_code.get('LOMAS').get('Poverty Rate')

Postal_code['LOMAS']['Poverty Rate']

'18.2%'

In [67]:
    #e. CREAR DICCIONARIO
#1. Configurar keys + values
# keys
cities = ['Fray Martin','Santa Rosa de Puquio','Cuchicorral','Santiago de Punchauca','La Cruz (11 Amigos)','Cerro Cañon','Cabaña Suche','San Lorenzo','Jose Carlos Mariategui','Pascal','La Esperanza','Fundo Pancha Paula','Olfa','Rio Seco','Paraiso','El Rosario','Cerro Puquio','La Campana','Las Animas','Vetancio','Roma Alta','San Jose','San Pedro de Carabayllo','Huacoy','Fundo Pampa Libre','Ex Fundo Santa Ines','Reposo','Carmelito','Santa Elena','Don Luis','Santa Ines Parcela','Asociacion Santa Ines','Roma Baja','Residencial Santa Lucia','San Francisco','Santa Margarita - Molinos','Sipan Peru','Fundo Cuadros','Bello Horizonte','El Hueco','Ex Fundo Mariategui','Naranjito','Vista Hermosa','El Sabroso de Jose Carlos Mariategui','Granja Carabayllo','Agropecuario Valle el Chillon','Camino Real','Copacabana','El Trebol','Tablada la Virgen','San Fernando de Carabayllo','San Fernando de Copacabana','La Manzana','Chacra Grande','Torres de Copacabana','San Pedro de Carabayllo','San Lorenzo','Chaclacayo','Chorrillos','Cieneguilla','Lindero','Pichicato','San Isidro','San Vicente','Piedra Liza','Santa Rosa de Chontay (Chontay)','La Libertad','El Agustino','Independencia','Jesus Maria','La Molina','La Victoria','Lince','Las Palmeras','Chosica','Lurin','Los Almacigos','Rinconada del Puruhuay','Fundo Santa Genoveva','Los Maderos','Casco Viejo','Vista Alegre','Buena Vista Alta','Lomas Pucara','Fundo la Querencia','Magdalena del Mar','Pueblo Libre','Miraflores','Pachacamac','Puente Manchay','Tambo Inga','Pampa Flores','Manchay Alto Lote B','Invasion Cementerio','Manchay Bajo','Santa Rosa de Mal Paso','Cardal','Jatosisa','Tomina','Pucusana','Honda','Quipa','Los Pelicanos','Playa Puerto Bello','Ñaves','Granja Santa Elena','Alvatroz II','Poseidon - Lobo Varado','Playa Minka Mar','Playa Acantilado','Puente Piedra','Punta Hermosa','Capilla Lucumo','Cucuya','Pampapacta','Avicola San Cirilo de Loma Negra - 03','Avicola San Cirilo de Loma Negra - 02','Avicola San Cirilo de Loma Negra - 01','Pampa Mamay','Cerro Botija','Agricultores y Ganaderos','Pampa Malanche Avicola Puma','Punta Negra','Chancheria','Rimac','San Bartolo','Plantel 41','Granja 4','Granja 5','Granja 07','Granja 44','Granja 47','Santa Maria I','Las Torres Santa Fe','San Francisco de Borja','San Isidro','San Juan de Lurigancho','Ciudad de Dios','San Luis','Barrio Obrero Industrial','San Miguel','Santa Anita - los Ficus','Santa Maria del Mar','Don Bruno','Santa Rosa','Santiago de Surco','Surquillo','Villa el Salvador','Villa Maria del Triunfo', 'Pueblo libre']
# values
postal_code1 = [15001,15003,15004,15006,15018,15019,15046,15072,15079,15081,15082,15083,15088,15123,15004,15011,15012,15019,15022,15023,15026,15476,15479,15483,15487,15491,15494,15498,15047,15049,15063,15082,15083,15121,15122,15313,15316,15318,15319,15320,15321,15324,15320,15320,15320,15320,15320,15320,15121,15320,15320,15121,15320,15320,15121,15121,15122,15122,15121,15121,15121,15320,15320,15320,15320,15320,15320,15121,15121,15121,15320,15121,15319,15121,15121,15121,15320,15320,15121,15121,15121,15121,15320,15320,15320,15122,15122,15122,15122,15122,15122,15122,15122,15121,15121,15122,15122,15121,15121,15122,15122,15121,15122,15122,15122,15472,15476,15054,15056,15057,15058,15063,15064,15066,15067,15593,15594,15593,15593,15593,15593,15593,15593,15593,15311,15312,15313,15314,15316,15324,15326,15327,15328,15332,15003,15004,15006,15007,15008,15009,15011,15018,15022,15311,15328,15331,15332,15333,15046, 15001]


#2. x1= dict(zip(keys_lista, values_lista))
# Return a dictionarie
ct_pc = dict( zip( cities , postal_code1) )

ct_pc

{'Fray Martin': 15001,
 'Santa Rosa de Puquio': 15003,
 'Cuchicorral': 15004,
 'Santiago de Punchauca': 15006,
 'La Cruz (11 Amigos)': 15018,
 'Cerro Cañon': 15019,
 'Cabaña Suche': 15046,
 'San Lorenzo': 15122,
 'Jose Carlos Mariategui': 15079,
 'Pascal': 15081,
 'La Esperanza': 15082,
 'Fundo Pancha Paula': 15083,
 'Olfa': 15088,
 'Rio Seco': 15123,
 'Paraiso': 15004,
 'El Rosario': 15011,
 'Cerro Puquio': 15012,
 'La Campana': 15019,
 'Las Animas': 15022,
 'Vetancio': 15023,
 'Roma Alta': 15026,
 'San Jose': 15476,
 'San Pedro de Carabayllo': 15121,
 'Huacoy': 15483,
 'Fundo Pampa Libre': 15487,
 'Ex Fundo Santa Ines': 15491,
 'Reposo': 15494,
 'Carmelito': 15498,
 'Santa Elena': 15047,
 'Don Luis': 15049,
 'Santa Ines Parcela': 15063,
 'Asociacion Santa Ines': 15082,
 'Roma Baja': 15083,
 'Residencial Santa Lucia': 15121,
 'San Francisco': 15122,
 'Santa Margarita - Molinos': 15313,
 'Sipan Peru': 15316,
 'Fundo Cuadros': 15318,
 'Bello Horizonte': 15319,
 'El Hueco': 15320,
 'Ex Fundo Mariategui': 15321,
 'Naranjito': 15324,
 'Vista Hermosa': 15320,
 'El Sabroso de Jose Carlos Mariategui': 15320,
 'Granja Carabayllo': 15320,
 'Agropecuario Valle el Chillon': 15320,
 'Camino Real': 15320,
 'Copacabana': 15320,
 'El Trebol': 15121,
 'Tablada la Virgen': 15320,
 'San Fernando de Carabayllo': 15320,
 'San Fernando de Copacabana': 15121,
 'La Manzana': 15320,
 'Chacra Grande': 15320,
 'Torres de Copacabana': 15121,
 'Chaclacayo': 15122,
 'Chorrillos': 15121,
 'Cieneguilla': 15121,
 'Lindero': 15121,
 'Pichicato': 15320,
 'San Isidro': 15004,
 'San Vicente': 15320,
 'Piedra Liza': 15320,
 'Santa Rosa de Chontay (Chontay)': 15320,
 'La Libertad': 15320,
 'El Agustino': 15121,
 'Independencia': 15121,
 'Jesus Maria': 15121,
 'La Molina': 15320,
 'La Victoria': 15121,
 'Lince': 15319,
 'Las Palmeras': 15121,
 'Chosica': 15121,
 'Lurin': 15121,
 'Los Almacigos': 15320,
 'Rinconada del Puruhuay': 15320,
 'Fundo Santa Genoveva': 15121,
 'Los Maderos': 15121,
 'Casco Viejo': 15121,
 'Vista Alegre': 15121,
 'Buena Vista Alta': 15320,
 'Lomas Pucara': 15320,
 'Fundo la Querencia': 15320,
 'Magdalena del Mar': 15122,
 'Pueblo Libre': 15122,
 'Miraflores': 15122,
 'Pachacamac': 15122,
 'Puente Manchay': 15122,
 'Tambo Inga': 15122,
 'Pampa Flores': 15122,
 'Manchay Alto Lote B': 15122,
 'Invasion Cementerio': 15121,
 'Manchay Bajo': 15121,
 'Santa Rosa de Mal Paso': 15122,
 'Cardal': 15122,
 'Jatosisa': 15121,
 'Tomina': 15121,
 'Pucusana': 15122,
 'Honda': 15122,
 'Quipa': 15121,
 'Los Pelicanos': 15122,
 'Playa Puerto Bello': 15122,
 'Ñaves': 15122,
 'Granja Santa Elena': 15472,
 'Alvatroz II': 15476,
 'Poseidon - Lobo Varado': 15054,
 'Playa Minka Mar': 15056,
 'Playa Acantilado': 15057,
 'Puente Piedra': 15058,
 'Punta Hermosa': 15063,
 'Capilla Lucumo': 15064,
 'Cucuya': 15066,
 'Pampapacta': 15067,
 'Avicola San Cirilo de Loma Negra - 03': 15593,
 'Avicola San Cirilo de Loma Negra - 02': 15594,
 'Avicola San Cirilo de Loma Negra - 01': 15593,
 'Pampa Mamay': 15593,
 'Cerro Botija': 15593,
 'Agricultores y Ganaderos': 15593,
 'Pampa Malanche Avicola Puma': 15593,
 'Punta Negra': 15593,
 'Chancheria': 15593,
 'Rimac': 15311,
 'San Bartolo': 15312,
 'Plantel 41': 15313,
 'Granja 4': 15314,
 'Granja 5': 15316,
 'Granja 07': 15324,
 'Granja 44': 15326,
 'Granja 47': 15327,
 'Santa Maria I': 15328,
 'Las Torres Santa Fe': 15332,
 'San Francisco de Borja': 15003,
 'San Juan de Lurigancho': 15006,
 'Ciudad de Dios': 15007,
 'San Luis': 15008,
 'Barrio Obrero Industrial': 15009,
 'San Miguel': 15011,
 'Santa Anita - los Ficus': 15018,
 'Santa Maria del Mar': 15022,
 'Don Bruno': 15311,
 'Santa Rosa': 15328,
 'Santiago de Surco': 15331,
 'Surquillo': 15332,
 'Villa el Salvador': 15333,
 'Villa Maria del Triunfo': 15046,
 'Pueblo libre': 15001}

## <a id='1.6'> 1.6 Arrays = Flechas (filas) and Matrix  </a>

In [69]:
import numpy as np

# A library is a collection of modules or a single module. 
# Libraries are the tools we will use to make our program.

In [85]:
# 1 DIMENSION
    
    # x1= np.array([valores]), donde d1= [valores] es un diccionario
a = np.array( [1, 2, 3, 4, 5] )
print(a, type(a))

    #crear con formula: np.arange(x1,x2,n), flecha de x1 a x2-1, incrementa en n
y = np.arange( 0, 20, 2 )
print(y)

    #by deafult one by one ==> y = np.arange(x1,x2, 1)

y = np.arange( 1, 11)  
print(y)
    
     #range(k) es lista de 0 hasta k-1
rango_lista= list(range(11))  
print(rango_lista)

[1 2 3 4 5] <class 'numpy.ndarray'>
[ 0  2  4  6  8 10 12 14 16 18]
[ 1  2  3  4  5  6  7  8  9 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
np.mean(a)  #media de vector
np.std(a)  #desviacion N-1
np.std(a,ddof=1)  #desviacion N

3.0

Standar deviation in Python by default

\begin{equation}
 sd(x) = \sqrt{\frac{\sum(x_i-\bar{x})^2}{N-1}}
\end{equation}

Standar deviation in Python 

\begin{equation}
 sd(x) = \sqrt{\frac{\sum(x_i-\bar{x})^2}{N}}
\end{equation}

In [73]:
# 2D DIMENSIONES
M = np.array( [ [1, 2, 3], [4, 5, 6] ] )

print(M)

[[1 2 3]
 [4 5 6]]

In [80]:
# Dimensiones contabilizar:
    # Matrix.shape (filas, columnas) 

M.shape
M.shape[0]  # 0= filas
M.shape[1]  # 1= columnas

print(" Rows   : ",M.shape[0],"\n", "Columns: ", M.shape[1])

 Rows   :  2
 Columns:  3

In [92]:
# Repetir valores:


    #a. np.repeat(x1,n)  x1 se repite n veces
print(np.repeat(2, 4))  
    #b. np.repeat(lista, n)  lista se repite n veces, ordenado x numeros
print(np.repeat(range(11), 4))  
print(np.repeat([2,3,4], 4)) 

    #c. np.title(array, n)  array o lista se repite n veces
print(np.tile(np.array([1,2]), 4)) 
print(np.tile(range(11),5))  
print(np.tile([0,4,5],4))

    #d. np.array_split(np.arange(x1,x2),n))  del x1 a x2 se agrupa en n grupos

print(np.array_split(np.arange(0,10),4))  # de [0,10] se agrupa en 4 grupos

[2 2 2 2]
[ 0  0  0  0  1  1  1  1  2  2  2  2  3  3  3  3  4  4  4  4  5  5  5  5
  6  6  6  6  7  7  7  7  8  8  8  8  9  9  9  9 10 10 10 10]
[2 2 2 2 3 3 3 3 4 4 4 4]
[1 2 1 2 1 2 1 2]
[ 0  1  2  3  4  5  6  7  8  9 10  0  1  2  3  4  5  6  7  8  9 10  0  1
  2  3  4  5  6  7  8  9 10  0  1  2  3  4  5  6  7  8  9 10  0  1  2  3
  4  5  6  7  8  9 10]
[0 4 5 0 4 5 0 4 5 0 4 5]
[array([0, 1, 2]), array([3, 4, 5]), array([6, 7]), array([8, 9])]

### Matrix

In [81]:
#cada elemento debe ser un vector
A = np.array([np.arange(0,10), np.arange(10,20), np.arange(30,40), np.arange(-20,-10), np.arange(2,21,2)])

In [82]:
A

array([[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9],
       [ 10,  11,  12,  13,  14,  15,  16,  17,  18,  19],
       [ 30,  31,  32,  33,  34,  35,  36,  37,  38,  39],
       [-20, -19, -18, -17, -16, -15, -14, -13, -12, -11],
       [  2,   4,   6,   8,  10,  12,  14,  16,  18,  20]])

In [83]:
#Sacar filas
A[2:5,:]  # rows selecrtion

array([[ 30,  31,  32,  33,  34,  35,  36,  37,  38,  39],
       [-20, -19, -18, -17, -16, -15, -14, -13, -12, -11],
       [  2,   4,   6,   8,  10,  12,  14,  16,  18,  20]])

In [84]:
#Sacar columnas
A[:,0:6]  # columns selecrtion

array([[  0,   1,   2,   3,   4,   5],
       [ 10,  11,  12,  13,  14,  15],
       [ 30,  31,  32,  33,  34,  35],
       [-20, -19, -18, -17, -16, -15],
       [  2,   4,   6,   8,  10,  12]])

In [85]:
M1 = np.zeros( (8, 2) )
print(M1)

[[0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]]

In [86]:
M2 = np.ones( (8, 4) )
print(M2)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

## Join matrix

In [87]:
#Juntar matrices M1 + M2  con h (orizontal)

M3 = np.hstack((M1,M2))  # stack horizontal 
M3

array([[0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.]])

In [88]:
M4 = np.array([[2,2,3,4,5,1],[1,5,5,9,8,2]])
print(M4)

[[2 2 3 4 5 1]
 [1 5 5 9 8 2]]

In [89]:
M5 = np.vstack((M3,M4)) # stack vertical 
print(M5)
M5.T

[[0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [2. 2. 3. 4. 5. 1.]
 [1. 5. 5. 9. 8. 2.]]

array([[0., 0., 0., 0., 0., 0., 0., 0., 2., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 2., 5.],
       [1., 1., 1., 1., 1., 1., 1., 1., 3., 5.],
       [1., 1., 1., 1., 1., 1., 1., 1., 4., 9.],
       [1., 1., 1., 1., 1., 1., 1., 1., 5., 8.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 2.]])

In [90]:
# Create a 1D NumPy array of ones of length 10:
w = np.ones(10)
print(w)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [91]:
# Create the identity matrix of size 8:
I = np.eye(8)
print(I)

[[1. 0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0. 1.]]

In [87]:
I3 = I.reshape(32, 2)
#print(I3)

NameError: name 'I' is not defined

In [90]:
random.seed(4)

np.random.rand(10)   #crea 10 valores aleatorios

array([0.83955418, 0.36695914, 0.04044813, 0.16880262, 0.50221557,
       0.71942654, 0.49558592, 0.17121426, 0.84532703, 0.33483598])

In [99]:
x1 = np.random.rand(5) 
x1

array([0.97013988, 0.14538263, 0.74926613, 0.42933554, 0.43022219])

In [86]:
#Aleatorios
import random 

random.seed(175)  #semilla aleatoria para producir números aleatorios

x1 = np.random.rand(500)      # 500 números de uniform distribution [0,1] =rand 
x2 = np.random.rand(500)      # uniform distribution [0,1]
x3 = np.random.rand(500)      # uniform distribution [0,1]
x4 = np.random.rand(500)      # uniform distribution [0,1]
e = np.random.normal(0,1,500) # normal distribution mean = 0 and sd = 1

# Poblacional regression (Data Generating Process GDP)


Y = 1 + 0.8*x1 + 1.2*x2 + 0.5*x3 + 1.5*x4 + e

In [101]:
X = np.column_stack((np.ones(500),x1,x2,x3,x4))  #difernetes tamños de X
#juntar todo en una sola matriz
X

array([[1.        , 0.42065599, 0.7702674 , 0.46013913, 0.97209977],
       [1.        , 0.54306598, 0.34923081, 0.32033356, 0.85355502],
       [1.        , 0.03555558, 0.26934049, 0.88846397, 0.59526898],
       ...,
       [1.        , 0.73293105, 0.01222204, 0.18080452, 0.55615452],
       [1.        , 0.65842668, 0.22881853, 0.69012669, 0.11184282],
       [1.        , 0.1756457 , 0.72036714, 0.41167129, 0.0796391 ]])

In [102]:
beta = np.linalg.inv(X.T @ X) @ ((X.T) @ Y )

# inversa de una matriz
# multiplicar matriz @
print(beta)

[0.90137591 0.82888202 1.50221568 0.50139047 1.36575401]

# References

## Numpy 
https://numpy.org/doc/stable/reference/arrays.html

https://www.kaggle.com/code/hkumls/intensive-python-tutorial-numpy/notebook